version: "3.7"

services:
  api:
    build:
      context: ./docker/api
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./api:/api
    depends_on:
      - main-mongo
    environment:
      NODE_ENV: dev
    command: /bin/sh /entrypoint.sh
    networks:
      - project

  frontend:
    build:
      context: ./docker/frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./frontend:/frontend
    environment:
      NODE_ENV: dev
    command: /bin/sh /entrypoint.sh
    networks:
      - project

  nginx:
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    restart: always
    tty: true
    networks:
      - project
    volumes:
      - ./docker/logs/:/var/log/nginx/

  varnish-frontend:
    build:
      context: ./docker/varnish/frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - nginx
    networks:
      - project
    restart: always
    volumes:
      - ./docker/varnish/frontend/default.vcl:/etc/varnish/default.vcl

  varnish-api:
    build:
      context: ./docker/varnish/api
      dockerfile: Dockerfile
    ports:
      - "81:80"
    depends_on:
      - nginx
    networks:
      - project
    restart: always
    volumes:
      - ./docker/varnish/api/default.vcl:/etc/varnish/default.vcl

  main-mongo:
    image: mongo
    ports:
      - "30001:27017"
    networks:
      - project
    volumes:
      - mongodbdata:/data/db
volumes:
  mongodbdata:
    name: "mongodbdata"

networks:
  project:
    driver: bridge
