// app global css in SCSS form
@import './pages/common.scss';

.normal-link {
  text-decoration: none;
  color: #000;
}

// for editor
.highlight-word {
  border: 1px dashed red;
  padding: 5px 10px;
  color: crimson;

  &:after {
    content: "["attr(data-label)"]";
    margin-left: 5px;
  }
}
